* {
    box-sizing: border-box;
}

body {
    margin: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
}

.back {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-decoration-line: none;
    color: #f208b7;
}

/* ---------------------1------------------- */
.js-gallery {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery-image {
    margin-right: 24px;
    margin-bottom: 48px;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.407);
}

/* ------------------2-------------------------- */
.list-item {
    list-style-type: none;
    font-size: 24px;
    border: #212121;
    border-radius: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    color: #2e2f42;
}

.list-item>h2 {
    margin-bottom: 16px;
}

.item {
    list-style-type: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    padding-left: 0;
    color: #2e2f42;

}

.item>li {
    border: 1px solid #808080;
    width: 360px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 8px;
    text-align: left;
    padding-left: 16px;
    padding-top: 8px;

}

.container {
    max-width: 885px;
    width: 440px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 15px;
}

.js-item {
    /* .js-gallery-img { */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    /* Параметри тіні: зміщення по X, зміщення по Y, розмір розмиття, колір */
    /* } */
}

/* --------------------3-------------------------- */
#name-input {
    width: 360px;
    height: 40px;
}

/* -------------------4------------------------ */
.login-form {
    width: 408px;
    height: 256px;
    margin: 0 auto;
}

.input-password {
    margin-bottom: 16px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    width: 360px;
    height: 40px;
    border-radius: 5px;
    border-color: #808080;
    box-shadow: none;
}

.input-email {
    display: flex;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    width: 360px;
    height: 40px;
    border-radius: 5px;
}

.login-btn {
    background-color: #4e75ff;
    width: 86px;
    height: 40px;
    color: #fafafa;
    border-radius: 10px;
    border-color: #fafafa;
    border-style: none;
}

/* ----------------------------5------------------------- */
.change-color {
    width: 148px;
    height: 40px;
    border-radius: 10px;
    background-color: #4e75ff;
    border-color: #fafafa;
    border-style: none;
    color: #fafafa;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.widget {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

.color {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

/* ---------------------6-------------------- */
#controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls-btn {
    width: 120px;
    height: 40px;
    border-radius: 6px;
    border: #fafafa;
    background-color: #4e75ff;
    color: #fafafa;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-right: 16px;

}

.destroy {
    background-color: #FF4E4E;
}

.controls-input {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #808080;
    padding: 0;
    margin-right: 16px;
}

#boxes {
    display: flex;
    margin-right: 16px;
    margin-top: 48px;
    justify-content: space-evenly;
    align-items: flex-start;
}